.menu__title {
    font-family: chicken;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

/* selectSeciton */

.selectSection {
    margin: 100px 0 0 0;
}

.selectSection__title {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}

.selectSection__underLine {
    background: #fff;
    width: 145px;
    height: 1px;
    margin: 5px 0 20px;
}

.selectSection__cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}

/* card */

.card {
    flex: 0 0 24%;
    flex-wrap: wrap;
    border: 2px solid #6a6a6a;
    border-radius: 10px;
    /* height: 435px; */
    padding: 15px 18px;
    margin: 0 5px 5px 5px;
    overflow: hidden;
    cursor: pointer;
}

.card__img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.card__img img {
    width: 100%;
    object-fit: cover;
}

.card__title {
    font-family: chicken;
    font-size: 32px;
    color: #fff;
    margin: 20px 0 10px;
}
.card__text {
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    height: 60px;
    overflow: hidden;
}

.card__line {
    margin: 10px 0;
    background: #6a6a6a;
    width: 100%px;
    height: 1px;
}

.card__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__price {
    font-family: chicken;
    font-size: 16px;
    color: #ff7d2e;
}
.card__cart {
    font-family: chicken;
    font-size: 16px;
    color: #fff;
    padding: 3px 10px;
    background: #ff7d2e;
    border-radius: 10px;
}
