@import "css/statics/null.css";
@import "css/statics/font.css";

.App {
    font-family: chicken;
    background: #232323;
    min-height: 100vh;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
}
